html,
body {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;

}
section {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 30px 0 20px 0;
}
section hr {
  width: 30px;
}
.cor_fundo {
  background: #f7f7f7; 
}

header {
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 10;
  background: black;
  text-shadow: 3px 1px #7a5e31;
  
}
header #logo {
    position: absolute;
    top: 7px;
    height: 75px;
    width: 80px;
    margin-left: 5%;  
}
header #logo img{
  max-height: 100%;
}
header .menu {
  float: right;
  list-style: none;
  margin-top: 0px;
  margin-right: 5%;
}
header .menu li {
  float: left;
  font-size: 18px;
  padding: 20px 10px 20px 10px;
}
header .menu li a {
  color: initial;
  text-decoration: initial;
  color: white;
}
header .menu li:hover {
  background-color: #C79038;
}
/* --------  Capa  -------- */
figure {
  margin: 0 auto;
}

figure .imagem_fundo {
  background: url(img/pexels-pixabay-60013\ \(1\).jpg); 
  background-size: cover;
  height: 100%;
  padding: 10px;
}
figure .titulo {
  color: #FFF;
  line-height: 0.9;
  text-shadow: 3px 1px #7a5e31;
}
figure h1.titulo {
  font-size: 70px;
  letter-spacing: -5px;
  margin: 20% 20% 0 20%;
  padding-bottom: 20px;
}
figure h2.titulo {
  padding-top: 20px;
  font-size: 30px;
  margin: 0 30% 0 30%;
  border-top: 3px solid white;
  padding-bottom: 30px;
}
.cta {
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  padding: 10 20 10 20;
  text-decoration: initial;
  font-size: 20px;
}
.cta:hover {
  background-color: #C79038;
  border: 0px;
}
/* --------  Colunas  -------- */
.coluna {
  float: left;
  padding: 0 5%;
  position: relative;
}
.coluna.quatro {
  width: 15%;
  padding: 0 5% 0 5%;
}
.coluna.tres {
  width: 29%;
  padding: 0 2%;
}
.coluna.dois {
  width: 40%;
}
.coluna .icone {
  border-radius: 50%;
  height: 85px;
  width: 85px;
  text-align: center;
  margin: 0 auto;
}
.coluna .icone img{
  max-width: 60%;
  max-height: 60%;
  margin: 15px;
}
.coluna:hover > .icone {
  background: #385B7A;
}
.coluna img {
  height: 280px;
  width:  400px;
}
.coluna iframe { 
  top: 0;
  left: 0;
  width: 100%;
}
/* --------  Textos  -------- */
h1 {
  text-align: center;
  font-size: 30px;
}
h2 {
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}
h3 {
    text-align: center;
    font-size: 20px;
    color: #7a5e31;
}
.esquerda {
  text-align: left;
}
.direita {
  text-align: right;
}
.centro {
  text-align: center;
}
.justificado {
  text-align: justify;
}
/* --------  Footer  -------- */
footer {
  background-color: #385B7A;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 30px 0 50px 0;
  color: #fff;
}
footer .container {
  padding: 30px 0 50px 0;
}
/* --------  Responsividade  --------*/
@media all and (max-width: 768px) {
    .menu {
        visibility: hidden;
    }
    
    .coluna, .coluna.quatro, .coluna.tres, .coluna.dois {
      display: block;
      width: 80%;
      padding: 0;
      margin: 10px auto;
      float: none;
    }
    #logodiv {
      width: 100%;
      position: relative;
      text-align: center;
      padding: 0px;

    }

     #logo {
      margin-left: 0px;
      transform: translate(-50%);
      }
    
  }